/* custom */
figure {
  width: inherit;
}

figcaption {
  text-align: center;
}

figure img {
  margin-left: auto;
  margin-right: auto;
}

.mainItem > summary {
  cursor: pointer;
  font-size: 20px;
}
.subItem > summary {
  cursor: pointer;
  font-size: 16px;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin-bottom: 0.3em;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

summary:hover {
  opacity: 70%;
}
details[open] {
  padding: 0.5em;
}

details[open] > summary {
  margin-bottom: 0.5em;
}

.excerpt {
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 8px;
  padding-right: 8px;
  border-top: 1px solid #aaa;
}
.excerpt-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.excerpt blockquote {
  clear: both;
  margin-top: 10px;
}

time {
  word-spacing: -0.1em;
}

.excerpt-title a,
.next-prev-links a,
.post-cats a {
  color: #111;
}

.prev-link {
  float: left;
}
.next-link {
  float: right;
}
.triangle-left {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 0.4rem solid transparent;
  border-right: 0.8rem solid #555;
  border-bottom: 0.4rem solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 0.4rem solid transparent;
  border-left: 0.8rem solid #555;
  border-bottom: 0.4rem solid transparent;
}

.home {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin-bottom: 0.3em;
}

.home-summary {
  font-size: 24px;
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  text-align: center;
}

.more-posts,
.more-posts:visited {
  float: right;
  color: #111;
}
