/* custom */
figure {
  width: inherit;
}

figcaption {
  text-align: center;
}

figure img {
  margin-left: auto;
  margin-right: auto;
}

.categories h3 {
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 20px;
}
.categories h4 {
  cursor: pointer;
  margin-bottom: 3px;
  font-size: 16px;
}

.excerpt-li {
  list-style-type: none;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.excerpt-title {
  font-size: large;
  text-align: center;
}
.excerpt-cats {
  float: right;
}
.excerpt-date {
  float: left;
  background-color: #e8e8e8;
  padding: 2px 5px;
  border-radius: 10px;
}

.excerpt {
  clear: both;
  margin-top: 10px;
}
