/* custom */
figure {
  width: inherit;
}

figcaption {
  text-align: center;
}

figure img {
  margin-left: auto;
  margin-right: auto;
}

.mainItem > summary {
  cursor: pointer;
  font-size: 20px;
}
.subItem > summary {
  cursor: pointer;
  font-size: 16px;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin-bottom: 0.3em;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

summary:hover {
  opacity: 70%;
}
details[open] {
  padding: 0.5em;
}

details[open] > summary {
  margin-bottom: 0.5em;
}

.excerpt {
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 8px;
  padding-right: 8px;
  border-top: 1px solid #aaa;
}
.excerpt-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.excerpt-cats {
  float: right;
}
.excerpt-date {
  float: left;
  background-color: #e8e8e8;
  padding: 2px 5px;
  border-radius: 10px;
}

.excerpt blockquote {
  clear: both;
  margin-top: 10px;
}

time {
  word-spacing: -0.1em;
}

.post-footer {
  text-align: center;
}
.excerpt-title a,
.excerpt-cats a,
.post-footer a,
.post-categories a {
  color: #111;
}

.triangle-left {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 0.4rem solid transparent;
  border-right: 0.8rem solid #555;
  border-bottom: 0.4rem solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 0.4rem solid transparent;
  border-left: 0.8rem solid #555;
  border-bottom: 0.4rem solid transparent;
}
